@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --azul: #004aad;
    --laranja: #ff914d;
    --branco: #fff;
    --preto: #000;
    --cinza: #737B97 --cinza-claro: #d5d1defe;
    --branco-cinza: #F5F5F5;
}

/* ------- HEADER -------*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: var(--azul);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
}

header img {
    max-width: 12em;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all .3s ease 0s;
    color: #fff;
    font-weight: 500;
    font-size: .8rem;
}

.nav-links li a:hover {
    color: var(--laranja);
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-icon i {
    color: var(--laranja);
    font-size: 1.3rem;
    margin: .4em;
}

.login-text {
    cursor: pointer;
}

.login-text a  {
    color: #c0b7ff;
    font-size: .6em;
    font-weight: 600;
}

.login-text a:last-child {
    color: rgba(0, 0, 0, .7);
    font-size: .9em;
    line-height: 1em;
    font-weight: 600;
}

/* ------- FOOTER -------*/
footer {
    width: 100vw;
    height: 100%;
    background-color: var(--azul);
    color: white;

}

section.footer-container {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    padding: 3% 5%;
    justify-content: space-between;
}

.footer-block-list {
    display: flex;
}

.footer-blocks {
    padding-right: 8rem;
}

.footer-blocks:last-child {
    padding-right: 0;
}

.footer-header {
    margin-bottom: 1.2rem;
}

.footer-header span {
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 700;
    color: var(--branco);
}

.footer-body {
    display: flex;
    flex-direction: column;
}

.footer-body a {
    color: var(--branco-cinza);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.9rem;
}

.footer-img img {
    float: right;
    width: 25rem;
}