<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loc bus</title>
    <link rel="stylesheet" href="./css/about-us.css" />
    <!-- link FONT AWSONE CDN -->
    <script
      src="https://kit.fontawesome.com/eeb24722a1.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <a href="" class="logo"
        ><img src="./assets/imgs/lockbus-logo.png" alt="Logo LocBus"
      /></a>

      <nav>
        <ul class="nav-links">
          <li><a href="#">Início</a></li>
          <li><a href="#">Horários</a></li>
          <li><a href="#">Linhas</a></li>
          <li><a href="#" id="active">Quem Somos</a></li>
          <li><a href="#">Fale Conosco</a></li>
        </ul>
      </nav>

      <div class="main-header">
        <div class="login-icon">
          <a href="#"><i class="fa-solid fa-circle-user"></i></a>
        </div>
        <div class="login-text">
          <a href="#"><p>Ainda não fez login?</p> </a>
          <a href="#"><p>Fazer Login</p></a>
        </div>
      </div>
    </header>

    <main id="aboutUs-main">
      <section class="container-section">
        <div class="left-container">
          <img src="./assets/imgs/sobre_nos.svg" alt="" />
        </div>
        <div class="right-container">
          <h3><strong>Sobre Nós</strong></h3>
          <p>
            <strong>LocBus</strong> é a sua plataforma dedicada para simplificar
            o acesso aos <strong>horários de ônibus em tempo real</strong>.
            Embarque em uma jornada mais tranquila, planejando suas viagens de
            forma eficiente e <strong>nunca mais perca o seu ônibus</strong>.
            Com <strong>LocBus</strong>, tenha o controle em suas mãos,
            proporcionando <strong>conveniência e pontualidade</strong> ao seu
            dia a dia.
          </p>
          <p>
            Explore <strong>horários</strong>, descubra <strong>rotas</strong> e
            otimize sua experiência de transporte público.
            <strong>LocBus</strong>, conectando você ao seu destino com
            <strong>praticidade e eficiência</strong>.
          </p>
        </div>
      </section>
    </main>

    <footer>
      <section class="footer-container">
        <div class="footer-block">
          <nav>
            <h4>Menu Rodapé</h4>
            <ul class="footer-nav-links">
              <li><a href="#" id="active">Início</a></li>
              <li><a href="#">Horários</a></li>
              <li><a href="#">Linhas</a></li>
              <li><a href="#">Quem Somos</a></li>
              <li><a href="#">Fale Conosco</a></li>
            </ul>
          </nav>
        </div>

        <div class="footer-block">
          <div class="footer-service">
            <h4>ATENDIMENTO</h4>
            <p>
              <strong>Email:</strong> xxxx@gmail.com
              <br />
              <strong>WhatsApp:</strong> +55 (19) 12345 - 6789
            </p>
          </div>
        </div>

        <div class="footer-block">
          <img src="./assets/imgs/lockbus-logo.png" alt="Imagem do Footer" />
        </div>
      </section>
    </footer>
  </body>
</html>
