<%
  function agruparPorSentidoDia(horariosLinha) {
    const agrupado = {};

    // Agrupa os horários por sentido e dia
    horariosLinha.forEach((horario) => {
      const chaveAgrupamento = `${horario.idLinha}_${horario.sentido_nome}`;

      if (!agrupado[chaveAgrupamento]) {
        agrupado[chaveAgrupamento] = {};
      }

      if (!agrupado[chaveAgrupamento][horario.dia]) {
        agrupado[chaveAgrupamento][horario.dia] = [];
      }

      agrupado[chaveAgrupamento][horario.dia].push(horario.horario);
    });

    return agrupado;
  }
%>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Horários</title>
  <link rel="stylesheet" href="../css/horariosLinha.css">
</head>

<body>

  
  <% const horariosAgrupados = agruparPorSentidoDia(horariosLinha); %>

  <% for (const chaveAgrupamento in horariosAgrupados) { %>
    <% const [idLinha, sentidoNome] = chaveAgrupamento.split('_'); %>

  <section class="main-container">
      <main class="table">
        <section class="table-header">
          <h1><%= `${idLinha} - ${sentidoNome}` %></h1>
        </section>
        <% for (const dia in horariosAgrupados[chaveAgrupamento]) { %>
          <h1 class="table-header"><%= dia %></h1>
          <section class="table-body">
            <table>
              <thead>
                <tr>
                  <th>Horário</th>
                </tr>
              </thead>

              <tbody>
                 <% for (const horario of horariosAgrupados[chaveAgrupamento][dia]) { %>
                <tr>
                  <td><%= horario %></td>
                </tr>
                <% } %>
              </tbody>
            </table>
            <% } %>
          </section>
        </main>
    </section>
    <% } %>

</body>

</html>
