<%
  function agruparPorSentidoDia(horariosLinha) {
    const agrupado = {};

    // Agrupa os horários por sentido e dia
    horariosLinha.forEach((horario) => {
      const chaveAgrupamento = `${horario.idLinha}_${horario.sentido_nome}`;

      if (!agrupado[chaveAgrupamento]) {
        agrupado[chaveAgrupamento] = {};
      }

      if (!agrupado[chaveAgrupamento][horario.dia]) {
        agrupado[chaveAgrupamento][horario.dia] = [];
      }

      agrupado[chaveAgrupamento][horario.dia].push(horario.horario);
    });

    return agrupado;
  }
%>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Horários</title>
  <link rel="stylesheet" href="../css/horariosLinha.css">
</head>

<body>

  
  <% const horariosAgrupados = agruparPorSentidoDia(horariosLinha); %>

  <% for (const chaveAgrupamento in horariosAgrupados) { %>
    <% const [idLinha, sentidoNome] = chaveAgrupamento.split('_'); %>

  <section class="main-container">
    <main class="table">
      <section class="table-header">
        <h2>Partida de: </h2>
        <h2><%= `${idLinha} - ${sentidoNome}` %></h2>
        
      </section>

      <% for (const dia in horariosAgrupados[chaveAgrupamento]) { %>
        
        <section class="table-body">
          <h1><%= dia %></h1>
          <ul>
            <% for (const horario of horariosAgrupados[chaveAgrupamento][dia]) { %>
              <li><%= horario %></li>
            <% } %>
          </ul>
        </section>
      <% } %>
    </main>
  </section>
    <% } %>

    <section class="section__voltar-mapa">
      <a href="/home">Voltar para o mapa</a>
    </section>

</body>

</html>
