<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LocBus Simulator</title>
    <!-- link css -->
    <link rel="stylesheet" href="../css/login.css" />


    <!-- font awesone cdn link -->
    <script
      src="https://kit.fontawesome.com/eeb24722a1.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- header -->
    <header>
      <a href="#" class="logo"
        ><img src="../assets/imgs/lockbus-logo.png" alt="Logo LockBus Simulator"
      /></a>

      <div class="suporte">
        <div class="suporte-icon">
          <a href="#"><i class="fa-solid fa-headset"></i></a>
        </div>
    </header>

    <section class="section-form">
      <div class="form">
        <h1>ACESSAR SUA CONTA</h1>
        <form action="/verificaLogin" method="post">
          <div class="input-group">

            <div class="input-field">
              <i class="fa-solid fa-envelope"></i>
              <input type="email" placeholder="Email" name="email">
            </div>

            <div class="input-field">
              <i class="fa-solid fa-lock"></i>
              <input type="password" placeholder="Senha" name="senha">
            </div>

            
            <p>Ainda não tem uma conta? <a href="/cadastre-se">Criar minha conta</a></p>
            <div class="btn-field">
              <button type="submit">Entrar</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
