<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LocBus Simulator</title>
    <!-- link css -->
    <link rel="stylesheet" href="../css/register.css" />

    <!-- link HEADER FOOTER css -->
    <link rel="stylesheet" href="../css/header_footer.css" />

    <!-- font awesone cdn link -->
    <script
      src="https://kit.fontawesome.com/eeb24722a1.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- header -->
    <header>
      <a href="horarios.html" class="Logo"
        ><img src="../assets/imgs/lockbus-logo.png" alt="Logo LockBus Simulator"
      /></a>

      <div class="suporte">
        <div class="suporte-icon">
          <a href="suporte.html"><i class="fa-solid fa-headset"></i></a>
        </div>
    </header>

    <section class="container">
      <div class="form">
        <h1>CRIAR CONTA</h1>
        <form action="/cadastrarUsuario" method="post">
          <div class="input-group">

            <div class="input-field">
              <i class="fa-solid fa-user"></i>
              <input type="text" placeholder="Nome" name="nome">
            </div>

            <div class="input-field">
              <i class="fa-solid fa-user"></i>
              <input type="text" placeholder="Sobrenome" name="sobrenome">
            </div>

            <div class="input-field">
              <i class="fa-solid fa-address-card"></i>
              <input type="text" placeholder="CPF" name="cpf">
            </div>

            <div class="input-field">
              <i class="fa-solid fa-envelope"></i>
              <input type="email" placeholder="Email" name="email">
            </div>

            <div class="input-field">
              <i class="fa-solid fa-lock"></i>
              <input type="password" placeholder="Senha" name="senha">
            </div>

            <div class="input-field">
              <i class="fa-solid fa-bus-simple"></i>
              <select name="fav-bus" id="fav-bus" aria-placeholder="Linha favorita">
                <option value="default" id="linha-fav" selected hidden>Linha favorita</option>
                <option value="675">675 - Campinas via Swift / Valinhos (Rodoviária)</option>
                <option value="676">676 - Campinas via Jd. do Lago / Valinhos (Jd. do Lago)</option>
                <option value="677">677 - Campinas (Rodoviária) / Valinhos (Pq. das Colinas)</option>
                <option value="null">Não há</option>
                </select>
            </div>
            <p>Já possui uma conta? <a href="/login">Fazer Login</a></p>
            <div class="btn-field">
              <button type="submit">Criar minha conta</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
