<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loc bus</title>
    <link rel="stylesheet" href="./css/support.css" />
    <!-- link FONT AWSONE CDN -->
    <script
      src="https://kit.fontawesome.com/eeb24722a1.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <a href="" class="logo"
        ><img src="./assets/imgs/lockbus-logo.png" alt="Logo LocBus"
      /></a>

      <nav>
        <ul class="nav-links">
          <li><a href="/mapa">Início</a></li>
          <li><a href="#">Horários</a></li>
          <li><a href="#">Linhas</a></li>
          <li><a href="/sobre-nos">Quem Somos</a></li>
          <li><a href="/suporte" id="active">Fale Conosco</a></li>
        </ul>
      </nav>

      <div class="main-header">
        <div class="login-icon">
          <a href="#"><i class="fa-solid fa-circle-user"></i></a>
        </div>
        <div class="login-text">
          <a href="/login"><p>Ainda não fez login?</p> </a>
          <a href="/login"><p>Fazer Login</p></a>
        </div>
      </div>
    </header>

    <main class="supote-main">
      <section class="suporte">
        <div class="suporte-title">
          <h1>Fale Conosco</h1>
        </div>
        <div class="suporte-container">
          <div class="suporte-container-title">
            <strong>Fale Conosco</strong>
          </div>
          <p>Dúvidas? Reclamações? Sugestões?</p>
          <p>Entre em contato com <strong>nosso suporte</strong></p>
          <br />
          <div class="suporte-container-title"><strong>Email</strong></div>
          <p id="suporte-email">xxxxx@gmail.com</p>
          <p class="suporte-bio">Retorno em até 1 dia útil</p>
          <br />
          <div class="suporte-container-title"><strong>Whatsapp</strong></div>
          <p id="suporte-number">(19) 12345-6789</p>
          <p class="suporte-bio">Segunda a Sábado</p>
          <p class="suporte-bio">8:00h as 23:00h</p>
        </div>
      </section>
    </main>

    <!-- footer -->
    <footer>
      <section class="footer-container">
        <div class="footer-block">
          <nav>
            <h4>Menu Rodapé</h4>
            <ul class="footer-nav-links">
              <li><a href="#" id="active">Início</a></li>
              <li><a href="#">Horários</a></li>
              <li><a href="#">Linhas</a></li>
              <li><a href="#">Quem Somos</a></li>
              <li><a href="#">Fale Conosco</a></li>
            </ul>
          </nav>
        </div>

        <div class="footer-block">
          <div class="footer-service">
            <h4>ATENDIMENTO</h4>
            <p>
              <strong>Email:</strong> xxxx@gmail.com
              <br />
              <strong>WhatsApp:</strong> +55 (19) 12345 - 6789
            </p>
          </div>
        </div>

        <div class="footer-block">
          <img src="./assets/imgs/lockbus-logo.png" alt="Imagem do Footer" />
        </div>
      </section>
    </footer>
  </body>
</html>
