@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --azul: #004aad;
    --laranja: #ff914d;
    --branco: #fff;
    --preto: #000;
}

body {
    min-height: 100vh;

}

header {
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--azul);
    padding: 15px 8%;
    transition: all .5s ease;
}

header .logo {
    width: 15%;
}

header .logo img {
    width: 100%;
}

.nav-links {
    display: flex;
}

.nav-links a {
    color: var(--branco);
    font-size: .9rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 20px;
    transition: all .5s ease;
}

.nav-links a:hover {
    color: var(--laranja);
}

.nav-links a#active {
    color: var(--laranja);
}

.main-header {
    display: flex;
    align-items: center;
}

.main-header a {
    margin-left: 10px;
    color: var(--branco);
    font-size: .9rem;
    font-weight: 500;
    transition: all .5s ease;
}

.main-header a:hover {
    color: var(--laranja);
}

.login-icon i {
    color: var(--laranja);
    font-size: 1.8rem;
}

.login-text {
    display: flex;
    flex-direction: column;
}

.login-text a {
    color: #c0b7ff;
    font-size: .6em;
    font-weight: 600;
}

.login-text a:last-child {
    color: rgba(0, 0, 0, .7);
    font-size: .9em;
    line-height: -8rem;
    font-weight: 600;
}

/* suporte icon */
.suporte-icon {
    margin-right: 2rem;
}

.suporte-icon a {
    color: var(--laranja);
    font-size: 2rem;
    text-decoration: none;
    transition: all .3s ease;
}

.suporte-icon a:hover {
    opacity: .8;
}

@media (max-width: 1280px) {
    header {
        padding: 14px 10%;
        transition: .2s;
    }

    .nav-links a {
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 1090px) {
    header {
        padding: 14px 5%;
        transform: .2s;
    }

    .nav-links a {
        margin: 0px 15px;
    }

    .login-text {
        display: none;
    }

    .login-icon i {
        font-size: 1.8rem;
    }
}

/* ----- FOOTER -----*/
footer {
    width: 100%;
    background-color: var(--azul);
    color: white;
    padding: 20px 5%;
    margin-top: 8rem;
}

.footer-container {
    display: grid;
    grid-template-columns: auto auto 1fr;
    gap: 20px;
    text-align: left;
    flex-wrap: wrap;
}

.footer-block {
    padding: 20px;
}

.footer-block h4 {
    text-transform: uppercase;
    font-size: .9rem;
}

.footer-nav-links {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .9rem;
}

.footer-nav-links a {
    text-decoration: none;
    color: white;
}

.footer-service h4 {
    font-size: .9rem;
    margin-bottom: 10px;
}

.footer-service p {
    font-size: 1rem;
}

.footer-block img {
    min-width: 50%s;
    max-width: 50%;
    height: auto;
    float: right;
    margin-top: 10px;
}