* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --azul: #004aad;
    --laranja: #ff914d;
    --branco: #fff;
    --preto: #000;
}


/* ... (o resto do seu CSS) */

.container {
    padding: 1rem 2rem;
}

.table-header {
    display: flex;
    background-color: var(--azul);
    color: var(--branco);
    padding: 20px;
    position: relative;
    align-items: center;
}

.table-header h2 {
    margin-right: 1rem;
    font-size: 1rem;
}

.table-header h2:first-child {
    margin-right: 3.5rem;
}

.table-header h2:last-child {
    font-size: 1.2rem;
}

.table-header h2:first-child::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background: var(--branco);
    left: 8.7rem;
    top: 0;
}

.table-body {
    padding: 1rem 0;
}

.table-body ul {
    display: flex;
    flex-wrap: wrap;
}

.table-body ul li {
    max-width: 300px;
    /* serve para jogar a palavra para baixo se for maior que o container em que está :3 */
    overflow-wrap: break-word;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 1.1rem;
    font-weight: 500;
}

.table-body h1 {
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-bottom: .8rem;
}

.section__voltar-mapa {
    margin-top: 1rem;
}

.section__voltar-mapa a {
    background-color: var(--laranja);
    color: var(--branco);
    padding: 15px;
    border-radius: 50px;
    margin-top: 12rem;
    font-weight: 600;
    border: solid 2px transparent;
    transition: all .2s ease-in-out;
}

.section__voltar-mapa a:hover {
    border-color: var(--azul);
}