@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --azul: #004aad;
    --laranja: #ff914d;
    --branco: #fff;
    --preto: #000;
    --cinza : #737B97
    --cinza-claro: #d5d1defe;
    --branco-cinza: #F5F5F5;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    transition: .2 linear;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* ----- HEADER ----- */
header {
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--azul);
    padding: 15px 8%;
    transition: all .5s ease;
}

header .logo {
    width: 15%;
}

header .logo img {
    width: 100%;
}

.nav-links {
    display: flex;
}

.nav-links a {
    color: var(--branco);
    font-size: .9rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 20px;
    transition: all .5s ease;
}

.nav-links a:hover {
    color: var(--laranja);
}

.nav-links a#active {
    color: var(--laranja);
}

.main-header {
    display: flex;
    align-items: center;
}

.main-header a {
    margin-left: 10px;
    color: var(--branco);
    font-size: .9rem;
    font-weight: 500;
    transition: all .5s ease;
}

.main-header a:hover {
    color: var(--laranja);
}

.login-icon i {
    color: var(--laranja);
    font-size: 1.8rem;
}

.login-text {
    display: flex;
    flex-direction: column;
}

.login-text a {
    color: #c0b7ff;
    font-size: .6em;
    font-weight: 600;
}

.login-text a:last-child {
    color: rgba(0, 0, 0, .7);
    font-size: .9em;
    line-height: -8rem;
    font-weight: 600;
}

@media (max-width: 1280px) {
    header {
        padding: 14px 10%;
        transition: .2s;
    }

    .nav-links a {
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 1090px) {
    header {
        padding: 14px 5%;
        transform: .2s;
    }

    .nav-links a {
        margin: 0px 15px;
    }

    .login-text {
        display: none;
    }

    .login-icon i {
        font-size: 1.8rem;
    }
}


/* ------- BANNER ------- */
section.banner {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 20px;
}

.banner-img img {
    max-width: 90vw;
    width: 100%;
    height: auto;
    border-radius: 20px;
}



/* ------- TABLE ------- */
.main-container {
    width: 100vw;
    height: auto;
    padding: 20px 0 20px 0;
}

main.table {
    margin: 0 auto;
    text-align: center;
    width: 90vw;
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
}

table {
    width: 100%;
}

table,
th,
td {
    border-collapse: collapse;
    padding: 1em;
    text-align: center;
}

.table-header {
    width: 100%;
    height: 10%;
    padding: .8rem 1rem;
    background-color: var(--laranja);
}

.table-header h1 {
    color: #fff;
}

.table-body {
    width: 95%;
    background-color: var(--branco-cinza);
    margin: 1rem auto;
    border-radius: .6rem;
    box-shadow: 0 .4rem .10rem #0001;
}

thead th {
    background-color: #0000000b;
}

thead th:first-child {
    border-radius: .6rem 0 0 0;
}

thead th:last-child {
    border-radius: 0 .6rem 0 0;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr:hover {
    background: #fff9;
}

i.fa-regular.fa-clock {
    color: var(--branco);
    background-color: var(--azul);
    padding: .3rem;
    border-radius: 5px;
    font-size: 1.1rem;
}

i.fa-regular.fa-clock:hover {
    background-color: rgba(0, 74, 173, .8);
}

/* ----- FOOTER ----- */
footer {
    width: 100%;
    background-color: var(--azul);
    color: white;
    padding: 20px 5%;
}

.footer-container {
    display: grid;
    grid-template-columns: auto auto 1fr;
    gap: 20px;
    text-align: left;
    flex-wrap: wrap;
}

.footer-block {
    padding: 20px;
}

.footer-block h4 {
    text-transform: uppercase;
    font-size: .9rem;
}

.footer-nav-links {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .9rem;
}

.footer-nav-links a {
    text-decoration: none;
    color: white;
}

.footer-service h4 {
    font-size: .9rem;
    margin-bottom: 10px;
}

.footer-service p {
    font-size: 1rem;
}

.footer-block img {
    min-width: 50%s;
    max-width: 50%;
    height: auto;
    float: right;
    margin-top: 10px;
}
