@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --azul: #004aad;
    --laranja: #ff914d;
    --branco: #fff;
    --preto: #000;
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: #F7F7F7;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header {
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--azul);
    padding: 15px 8%;
    transition: all .5s ease;
}

header .logo {
    width: 15%;
}

header .logo img {
    width: 100%;
}

.nav-links {
    display: flex;
}

.nav-links a {
    color: var(--branco);
    font-size: .9rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 20px;
    transition: all .5s ease;
}

.nav-links a:hover {
    color: var(--laranja);
}

.nav-links a#active {
    color: var(--laranja);
}

.main-header {
    display: flex;
    align-items: center;
}

.main-header a {
    margin-left: 10px;
    color: var(--branco);
    font-size: .9rem;
    font-weight: 500;
    transition: all .5s ease;
}

.main-header a:hover {
    color: var(--laranja);
}

.login-icon i {
    color: var(--laranja);
    font-size: 1.8rem;
}

.login-text {
    display: flex;
    flex-direction: column;
}

.login-text a {
    color: #c0b7ff;
    font-size: .6em;
    font-weight: 600;
}

.login-text a:last-child {
    color: rgba(0, 0, 0, .7);
    font-size: .9em;
    line-height: -8rem;
    font-weight: 600;
}

@media (max-width: 1280px) {
    header {
        padding: 14px 10%;
        transition: .2s;
    }

    .nav-links a {
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 1090px) {
    header {
        padding: 14px 5%;
        transform: .2s;
    }

    .nav-links a {
        margin: 0px 15px;
    }

    .login-text {
        display: none;
    }

    .login-icon i {
        font-size: 1.8rem;
    }
}

main.suporte-main {
    width: 40vw;
    margin: 0 auto;
    display: flex;
    text-align: center;
}

.suporte {
    margin: 3% 23%;
}

.suporte-title h1 {
    text-align: center;
    color: #737B97;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.suporte-container-title {
    color: #737B97;
    text-transform: uppercase;
    margin-bottom: .5rem;
    font-style: italic;
}

.suporte-container-title:first-child {
    margin-bottom: 2rem;
}

.suporte-container p {
    color: #737B97;
    font-weight: 400;
}

.suporte-container p#suporte-email {
    color: var(--azul);
    font-weight: 700;
}

.suporte-container p#suporte-number {
    color: var(--azul);
    font-weight: 700;
    font-style: italic;
}

.suporte-bio {
    color: #737B97;
    font-style: italic;
    opacity: .9;
}

/* ----- FOOTER ----- */
footer {
    width: 100%;
    height: auto;
    background-color: var(--azul);
    color: white;
    margin-top: 8rem;
}

section.footer-container {
    padding: 3% 5%;
    justify-content: space-between;
}

.footer-block-list {
    display: flex;
    flex-wrap: wrap;
}

.footer-blocks {
    padding-right: 8rem;
}

.footer-blocks:last-child {
    padding-right: 0;
}

.footer-header {
    margin-bottom: 1.2rem;
}

.footer-header span {
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 700;
    color: var(--branco);
}

.footer-body {
    display: flex;
    flex-direction: column;
}

.footer-body a {
    color: var(--branco-cinza);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.9rem;
}

.footer-img {
    float: right;
    width: 20%;
}

.footer-img img {
    width: 100%;
}

@media (max-width: 1300) {
    .footer-img {
        float: right;
        width: 16rem;
    }

    .footer-img img {
        width: 100%;
    }
}