<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Horários</title>
    <link rel="stylesheet" href="./css/horarios.css" />
    <link rel="stylesheet" href="./css/header.css" />
  </head>
  <body>
    <!-- header -->
    <header>
      <img src="./imgs/lockbus-logo.png" alt="logo" class="logo" />

      <nav>
        <ul class="nav-links">
          <li><a href="#">Início</a></li>
          <li><a href="horarios.ejs">Horários</a></li>
          <li><a href="#">Linhas</a></li>
          <li><a href="#">Quem Somos</a></li>
          <li><a href="#">Fale Conosco</a></li>
        </ul>
      </nav>

      <a href="login.html" class="btn-login"><button>Fazer Login</button></a>
    </header>

    <!-- banner -->
    <div class="container">
      <div class="content">
        <section class="links">
          <span><a href="#">Home</a></span>
          <span>></span>
          <span><a href="#" id="horario">Horários de ônibus</a></span>
          <img
            src="./imgs/banner-horario.png"
            alt="banner-horario"
            class="banner-horario"
          />
        </section>
      </div>
    </div>

    <!-- tabela horarios -->
    <div class="container">
      <section class="table-horarios">
        <div class="table-horario-title">
          <h1>Horários de ônibus</h1>
        </div>

        <table class="table">
          <thead>
            <tr>
              <th>Ônibus</th>
              <th>Destino</th>
              <th>Horário</th>
              <th>Todos Horários</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td><i class="fa-solid fa-bus"></i> 316</td>
              <td>Parque Cidade</td>
              <td>08:00 AM</td>
              <td id="btn-time">
                <button>
                  Ver <br />
                  Horários
                </button>
              </td>
            </tr>
            <tr>
              <td><i class="fa-solid fa-bus"></i> 351</td>
              <td>PUCC</td>
              <td>09:30 AM</td>
              <td id="btn-time">
                <button>
                  Ver <br />
                  Horários
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
    <br /><br /><br /><br /><br /><br /><br />
    <script
      src="https://kit.fontawesome.com/eeb24722a1.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
