<!DOCTYPE html>
<html>
  <head>
    <title>Meu Mapa</title>
    <link rel="stylesheet" href="./css/mapa.css" />

    <!-- link FONT AWSONE CDN -->
    <script
      src="https://kit.fontawesome.com/eeb24722a1.js"
      crossorigin="anonymous"
    ></script>
  </head>
   <header>
      <a href="#" class="logo"
        ><img src="./assets/imgs/lockbus-logo.png" alt="Logo LocBus"
      /></a>

      <nav>
        <ul class="nav-links">
          <li><a href="#" id="active">Início</a></li>
          <li><a href="#">Horários</a></li>
          <li><a href="#">Linhas</a></li>
          <li><a href="#">Quem Somos</a></li>
          <li><a href="#">Fale Conosco</a></li>
        </ul>
      </nav>

      <div class="main-header">
        <div class="login-icon">
          <a href="#"><i class="fas fa-circle-user"></i></a>
        </div>
        <div class="login-text">
          <a href="#"><p>Ainda não fez login?</p> </a>
          <a href="#"><p>Fazer Login</p></a>
        </div>
      </div>
    </header>
    <section class="container-mapa">
      <form action="#">
        <div class="menu">
          <div class="menu-header">
            <img src="./assets/imgs/mapa-header.png" id="img-header" alt="">
            <h2>Para onde <br> deseja ir?</h2>
          </div>
          <div class="menu-main">
            <div class="menu-container">
              <div class="distance-img">
                <img src="./assets/imgs/rota.png" alt="">
              </div>
              <div class="inputs">
                <div class="input-container">
                  <input type="text" placeholder="Escolha seu local de partida" />
                </div>
                <div class="input-container">
                  <input type="text" placeholder="Escolha o destino" />
                </div>
              </div>
            </div>
            <div class="gray-box">
              <i class="fas fa-clock"></i>
              <select>
                <option value="sairAgora">Sair Agora</option>
                <option value="10min">10 min</option>
                <option value="20min">20 min</option>
              </select>
              <button type="submit">Buscar asd</button>
            </div>
          </div>
        </div>
      </form>
      <div id="map"></div>
    </section>

    <script>
      function initMap() {
          var map = new google.maps.Map(document.getElementById('map'), {
              center: { lat: -22.96793034203473, lng: -46.995350186264304 },
              zoom: 16
          });

          <% for (let i = 0; i < pontos.length; i++) { %>
              createMarker(map, <%= pontos[i].lat %>, <%= pontos[i].lon %>, '<%= pontos[i].logradouro %>', '<%= i+1 %>');
          <% } %>

          function createMarker(map, lat, lon, title, idPonto) {
              var infowindow = new google.maps.InfoWindow();

              var marker = new google.maps.Marker({
                  position: { lat: lat, lng: lon },
                  map: map,
                  title: title,
                  icon: {
                      url: '../assets/imgs/icon-bus-stop.png',
                      scaledSize: new google.maps.Size(18, 18)
                  }
              });

              marker.addListener('click', function () {
                  var content = '<h3>' + title + '</h3>';
                  content += '<p><a href="/horariosPonto?idPonto=' + idPonto + '">Ver horários</a></p>';

                  infowindow.setContent(content);
                  infowindow.open(map, marker);
              });
          }
      }
    </script>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzGJHcT9GwLSLre5lNgyS0RmaqaA6R8IQ&callback=initMap"
      async
      defer
    ></script>
  </body>
</html>
